/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/layouts/resetlayout.blade.php
resources/views/layouts/resetlayout.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/reset/forgetPasswordLink.blade.php
resources/views/reset/login.blade.php
resources/views/reset/resetEmail.blade.php
resources/views/home.blade.old.php
resources/views/home.blade.old.php
resources/views/layouts/resetlayout.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/reset/forgetPasswordLink.blade.php
resources/views/reset/login.blade.php
resources/views/reset/resetEmail.blade.php
resources/views/home.blade.old.php
resources/views/layouts/resetlayout.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/reset/forgetPasswordLink.blade.php
resources/views/reset/login.blade.php
resources/views/reset/resetEmail.blade.php
resources/views/home.blade.old.php
resources/views/layouts/resetlayout.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/reset/forgetPasswordLink.blade.php
resources/views/reset/login.blade.php
resources/views/reset/resetEmail.blade.php
public/vendor/mckenziearts/laravel-notify/mix-manifest.json
resources/views/layouts/resetlayout.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/reset/resetEmail.blade.php
resources/views/reset/login.blade.php
resources/views/reset/forgetPasswordLink.blade.php
resources/views/reset/forgetPassword.blade.php
resources/views/admin/admin_updates.html
resources/views/admin/admin_itemList.html
resources/views/admin/admin_dashboard.html
resources/views/admin/admin_approval.html
resources/views/reset/forgetPassword.blade.php
public/vendor/mckenziearts/laravel-notify/css/app.css
public/vendor/mckenziearts/laravel-notify/css/notify.css
public/vendor/mckenziearts/laravel-notify/images/drake-error.jpg
public/vendor/mckenziearts/laravel-notify/images/drake-success.jpg
public/vendor/mckenziearts/laravel-notify/images/notifications.png
public/vendor/mckenziearts/laravel-notify/js/app.js
public/vendor/mckenziearts/laravel-notify/js/app.js.map
public/vendor/mckenziearts/laravel-notify/js/notify.js
public/vendor/mckenziearts/laravel-notify/js/notify.js.map
resources/js/all.min.js
resources/css/front.css
public/qr_codesBAG-0001-0407.svg
public/qr_codes/BAG-0001-0407.png
public/qr_codes/BAC-0001-0407.svg
public/qr_codes/ARI-0001-0407.svg
public/LICENSE.txt
public/js/all.min.js
public/js/all.js
public/BAG-0001-0407.svg
public/ARI-0001-0407.png
public/.shims-cache.json
public/.icons-cache.json
database/factories/sellerFactory.php
config/popper.php
app/Models/userInfo.php
app/Http/Middleware/seller.php
app/Http/Middleware/admin.php
.todo
resources/views/home.blade.old.php
resources/css/front.css
