@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

body {
  font-size: 100%;
}
h2{
  padding-top: 40px;
}
 p{
  color: white;
  line-height: 1px;
  padding-bottom: 10px;
 }

#form_div{
  text-align: center;
}
.updates{
  padding: 40px;
  font-size: 20px;
  border: 2px solid black;
  width: 100%;
  background: white;
}

.post{
  font-size: 20px;
  align-content: center;
  background-color: #ffbf00;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  margin-top: 2%;
  color: white;
}

.post:hover{
  background-color: #373737;
}

.discard{
  font-size: 20px;
  align-content: center;
  background-color: #ffbf00;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  margin-left: 2%;
  color: white;
}


.discard:hover{
  background-color: #373737;
}

@media (max-width: 400px){
.discard{
  margin-top: 5%;
}

@media (max-width: 335px){
.post{
  padding-left: 30px;
  padding-right: 30px;
}

.discard{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 2%;
  margin-top: 5%;
}
}

