

.card {
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 25px !important;
    background-color: #2E2E2E !important;
    color: white !important;
    transition: 0.3s;
 }

h1{
    color: #ffbf00;
    font-size: 25px !important;
    margin-top: 50px !important;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.card-footer{
    border-top: 1px solid white;
}
.card-title{
    padding-top: 10PX;
     text-align: right;
     font-size: 20px;
}
.card-text{
    text-align: right;
    font-size: 50px;
    font-weight: bold;
}


#card_icon{
   font-size: 70px;
   float: left;
   color: ffbf00;
}


#icon_footer{
   font-size: 30px;
   float: left;
   color: ffbf00;
}
.footer_text{
    text-align: left;
    font-size: 20px;
}

.card-footer{
    padding: 0px;
}

#notifbell{
    padding-right: 20px;
}

.icon_top{
    color: #ffbf00 !important;
}


@media (max-width: 576px) {  
  .xs {color:red;font-weight:bold;}
   .card-title{font-size: 15px}
   .card-text{font-size: 40px;}
   #card_icon{ font-size: 60px;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
   .card-title{font-size: 15px}
    .card-text{font-size: 40px;}
     #card_icon{ font-size: 40px;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .md {color:red;font-weight:bold;}
 .card-title{font-size: 10px}
  #card_icon{ font-size: 30px; padding-top: 20px;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .lg {color:red;font-weight:bold;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}