body{
	background: #222222 !important;
}
.scan{
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	text-align: center;
	color: gold;
}

.point{
	width: 100%;
	margin-top: -2%;
	transform: translateY(-50%);
	text-align: center;
	color: grey;
}

.scanner{
	width: 40%;
}

.input{
	width: 100%;
	margin-top: 3%;
	transform: translateY(-50%);
	text-align: center;
	color: grey;
}

.content{
	width: 100%;
	margin-top: 50px;
	transform: translateY(-50%);
	text-align: center;
}

.back{
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
}

.content button{
	width: 100px;
    margin: 8px 8px;
    font-size: 15px;
    background: black;
    border: none;
    background-color: #555;
	color: white;
    padding: 8px 0px;
    border-radius: 25px;
}

.content button:hover{
    border: 2px solid;
    background-color: gold;
    cursor: pointer;
    color: white;
}

.content input[type=text]{
  padding: 8px 0px;
  font-size: 15px;
  margin: 8px 8px;
  border: 2px solid grey;
  width: 180px;
  border-radius: 25px;
  background: #f1f1f1;
  text-align: center;
}

.back button{
	width: 179px;
    margin: 8px 8px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: #555;
	color: white;
    padding: 8px 0px;
    border-radius: 25px;
}

.back button:hover{
    color: white;
  background: #ffbf00;

}

/* The Modal */
/*.modal {*/
/*  display: none;*/
/*  z-index: 1;*/
/*  margin-left: 35%;*/
/*  margin-top: -20%;*/
/*  width: 30%;*/
/*  height: 300%;*/
/*  background-color: #303030;*/
/*}*/

.content-modal{
  background-color: #303030;
  color: white;
text-align: left;
  width: 50%;
}


.cont {
	background-color: #303030;
}

.text{
	color: white;
	text-align: left;
	margin-left: -30%;
	padding: 6%;
	font-size; 12%;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
.modal {
	margin-left: 25%;
	margin-top: -32%;
	width: 50%;
	height: 280%;
}

.scanner{
	width: 50%;
}
}

 @media (max-width: 345px) {
.modal {
	margin-left: 25%;
	margin-top: -32%;
	width: 50%;
	height: 130%;
}

.scanner{
	width: 50%;
}
}
