@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
form{
    display: inline;
}
.addNew{
    background-color: #3e3e3e;
    color: white;
    border-radius: 0px;
    padding: 12px;
    border: none;
    outline: none;
    min-width: 110px;
    max-width: auto;
    margin-left: 10px;
}

.delete{
    background-color: #3e3e3e;
    color: white;
    border-radius: 0px;
    padding: 12px;
    width: 110px;
    border: none;
    outline: none;
    margin-left: 10px;
}


.addNew:hover, .delete:hover{
    color: white;
    background-color: #ffbf00;
}


label{
    font-size: 18px;
    color: #222222;
    margin-top: 10px;
}

input{
    height: 40px;
   width: 90%;
    padding: 0 15px;
    color: #222222;
    margin-left: 5px;
    border: 1px solid #222222;
    border-radius: 3px;
    margin-bottom: 10px;
}

input:hover{
    border: 2px solid #ffbf00;
}


.defaultCheckbox{
   text-align:center;
    vertical-align: middle;
    width: 20px;
    margin-left: -2px;
}

#status, #paid, #itemSize, #itemDesti,#itemOrigin,#category, #userType, #approval{
    height: 40px;
    width: 90%;
    padding: 0 10px;
    color: #222222;
    margin-left: 5px;
    border: 1px solid #222222;
    border-radius: 3px;
}

#addNewItem, #editItem{
    margin-top: 6%;
}



.modal .modal-content {
            padding: 20px 20px 20px 20px;
            -webkit-animation-name: modal-animation;
            -webkit-animation-duration: 0.5s;
            animation-name: modal-animation;
            animation-duration: 0.5s;
        }

        @-webkit-keyframes modal-animation {
            from {
                top: -100px;
                opacity: 0;
            }
            to {
                top: 0px;
                opacity: 1;
            }
        }

        @keyframes modal-animation {
            from {
                top: -100px;
                opacity: 0;
            }
            to {
                top: 0px;
                opacity: 1;
            }
        }


@media (max-width: 576px) {
   .addNew, .delete{
    padding-right:5px;
    padding-left:5px;
    font-size:20px;
    border: none;
    outline: none;
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

input{
    color: #222222;
}

.filter{
    min-width: auto;
    max-width: 150px;
}
