@import url('https://fonts.googleapis.com/css family=Poppins:400,500,600,700&display=swap');
*{
	margin:0;
	padding:0;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: #222222 !important;
    overflow-x: hidden;
}

h1{
    color: #ffbf00 !important;
    text-align: center;
}

h2{
    color: white !important;
    text-align: center;
}

.dropdown {
    text-align: center;
}

.dropbtn {
	background-color: #3e3e3e;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
    display: inline-block;
	letter-spacing: 2px;
    margin-top: 1%;
    width: 300px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ffbf00;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 300px;
}


.dropdown-content {
  display: none;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 300px;
}

.dropdown-content a{
  color: black;
  padding: 9px 9px;
  text-decoration: none;
  display: block;
  font-size: 17px !important;
}

.dropdown-content a:hover, .dropdown-content a:active{
    background-color:#a9a9a9 !important;
    color: white !important;
}

.show {
    display:block;
}

#yellowBg{
    background-color: #ffbf00 !important; 
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
}

.pen{
    width: 35%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    min-width: 300px;
}

h4{
        font-size: 25px !important;
        text-align: center;
        color: black;
    }

.card{
        position: relative;
        flex: 1;
        height: 200px;
        background-color: white;
        margin: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
}

.icon{
        font-size: 90px;
        color: #ffbf00;
        transition: .3s linear;
}

.card:hover .icon{
        transform: scale(2);
        opacity: 0;
}

.card-content h3,
.card-content span{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        opacity: 0;
}

.card-content h3{
        top: 20px;
        text-transform: uppercase;
        color: #ffbf00;
}

.card-content span{
        bottom: 20px;
        color: #3e3e3e;
        font-weight: 500;
}

.card:hover h3{
        opacity: 1;
        top: 60px;
        transition: .3s linear .3s;
}

.card:hover span{
        opacity: 1;
        bottom:70px;
        transition: .3s linear .3s;
}


@media screen and (max-width:1000px){

    .card-content span{
        font-size: 15px;
}
}
