@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    } 




/* CONTAINER */
.container-fluid {
    color: white;
    margin-left: 0px;
    margin-top: 80px;
}

h2{
    color: #ffbf00;
    text-align: center !important;
}

.input-group{
    width: 20%;
    margin-top: 2%;
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
}

.trackBtn{
    border: none;
    outline: none;
    background-color: #3e3e3e;
    border-radius: 0;
    height: 50px;
    color: white;
    display: inline-block;
    font-size: 18px !important;
}

.searchBtn:hover{
    font-size: 25px;
    transition: .2s;
}

.form-control {
    border: none;
    outline: none;
    border-radius: 0;
    height:50px;
    width:400px;
}



.itemDetailsBox{
    background-color: white;
    color: #222222;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.claimed{
    outline: none;
    border: none;
    width: 150px;
    height: 45px;
    background-color: #3e3e3e;
    color: white;
    margin-top: 25px;
    border-radius: 0;
}


.pullout{
    outline: none;
    border: none;
    width: 150px;
    height: 45px;
    background-color: #3e3e3e;
    color: white;
    margin-top: 20px;
    border-radius: 0;
}

.claimed:hover, .pullout:hover{
    background-color:#ffbf00;
}