@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

body {
  background-color:#222222;
  box-sizing: border-box;
  font-size: 100%;
}

h1{
	color: #ffbf00;
	font-size: 30px;
	padding-top: 20px;
}

P{
	color: white;
	font-size: 18px;
}

h6{
	color: white;
}
.account input[type=text]{
	padding: 5px 5px;
	font-size: 20px;
	border: 2px solid grey;
	width: 440px;
	background: #f1f1f1;
	border-radius: 10px;
	text-align: left;
}

#submit{
padding-right:20px;
  padding-left:20px;
  font-size:25px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
#delete{
 padding-right:20px;
  padding-left:20px;
  font-size:25px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
#btn_col{
  text-align: center;
}

#submit:hover{
	background-color: #373737;
	color: white;
}

#delete:hover{
	background-color: #373737;
	color: white;
}




@media (max-width: 576px) {  
   #submit{
 padding-right:5px;
  padding-left:5px;
  font-size:20px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
#delete{
 padding-right:5px;
  padding-left:5px;
  font-size:20px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  #submit{
 padding-right:10px;
  padding-left:10px;
  font-size:20px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
#delete{
padding-right:10px;
  padding-left:10px;
  font-size:20px;
  background-color: #ffbf00;
  color: white;
  border: none;
  outline: none;
}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 

}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}